@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgba(17, 32, 247, 0.856);
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.514);    
    margin: auto;
}

div {
    color: black;
}

footer {
    font-style: italic;
    text-align: center;
    color: white;
}